
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script type="riot/tag" src="~/Scripts/riot/Dashboard/riot-dashboard.tag"></script> 
<script>
    var ctx = document.getElementById("myChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Running', 'Swimming', 'Eating', 'Cycling', 'Sleeping', 'walking'],
            datasets: [{
                data: [20, 10, 4, 2, -20, -50],
                backgroundColor: 'blue',
                label: 'Tempo Logado'
            }, {
                data: [5, 40, 10, 23, -21],
                backgroundColor: 'red',
                label: 'Pausa'
            }]
        },
        options : {
            scale: {
                // Hides the scale
                display: true
            }
        }
    });
    var ctx1 = document.getElementById("myChart1");
    var myRadarChart = new Chart(ctx1, {
        type: 'polarArea',
        data: {            
            datasets: [{
                data: [20, 10, 4, 2, -20, -50],
                backgroundColor: ['lightgrey', 'pink', 'brown', 'black','purple', 'grey'],                
            }],
            labels: ['lightgrey', 'pink', 'brown', 'black', 'purple', 'grey'],
        },
        options: {
            scale: {
                // Hides the scale
                display: true
            }
        }
    });
    var ctx2 = document.getElementById("myChart2");
    var myRadarChart = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Lightgreen', 'LightBlue', 'Gray'],
            datasets: [{
                data: [38, 55, 10],
                backgroundColor: [
                    'lightgreen',
                    'lightblue',
                    'gray'
                ]
            }],
        },
        options: {
        }
    });
    var ctx3 = document.getElementById("myChart3");
    var myRadarChart = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Yellow', 'Blue'],
            datasets: [{
                data: [10, 20, 30],
                backgroundColor: [
                    'Red',
                    'Yellow',
                    'Blue'
                ]
            }],
        },
        options: {            
        }
    });
</script>  
    }


<h2>Dashboard</h2>
<div class="ui grid">
    <div class="four wide column">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="four wide column">
        <canvas id="myChart1" width="200" height="200"></canvas>
    </div>
    <div class="four wide column">
        <canvas id="myChart2" width="200" height="200"></canvas>
    </div>
    <div class="four wide column">
        <canvas id="myChart3" width="200" height="200"></canvas>
    </div>    
</div>

<riot-dashboard></riot-dashboard>

 




