
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>
<riot-navbar></riot-navbar>



<script type="riot/tag" src="~/Scripts/riot/Home/riot-navbar.tag"></script>
<script>riot.mount('riot-navbar')</script>
